<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:theme="@android:style/Theme.NoTitleBar" package="com.tencent.tmgp.sgameceg" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <permission android:name="com.tencent.tmgp.sgameceg_com.subao.permission.USE_SDK.com.tencent.tmgp.sgamece.KingsGlory"/>
    <uses-permission android:name="com.tencent.tmgp.sgameceg_com.subao.permission.USE_SDK.com.tencent.tmgp.sgamece.KingsGlory"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_SINTERNETWIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true"/>
    <application android:allowBackup="false" android:banner="@drawable/app_banner" android:debuggable="false" android:icon="@drawable/app_icon" android:isGame="true" android:label="@string/app_name" android:theme="@style/AppTheme">
        <meta-data android:name="TencentMapSDK" android:value="V2GBZ-E6K3X-EI34P-7KHUP-ZLJPZ-EVBBE"/>
        <meta-data android:name="android.max_aspect" android:value="2.6"/>
        <meta-data android:name="com.tencent.rdm.uuid" android:value="2096e2ac-b50e-4a8c-b01a-59c22386e5c1"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.rtmp1.video.TXScreenCapture$TXScreenCaptureAssistantActivity" android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.ryg.dynamicload.DLProxyActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.ryg.dynamicload.proxy.activity.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.msdk.NameAuthActivity" android:screenOrientation="sensor" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:label="WXEntryActivity" android:launchMode="singleTop" android:name="com.tencent.tmgp.sgamece.wxapi.WXEntryActivity" android:screenOrientation="portrait" android:taskAffinity="com.tencent.tmgp.sgamece.diff" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx71a79717188d990b"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:exported="true" android:label="WXQrCodeActivity" android:launchMode="singleTop" android:name="com.tencent.msdk.weixin.qrcode.WXQrCodeActivity" android:screenOrientation="portrait" android:taskAffinity="com.tencent.tmgp.sgamece.diff" android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencent1104791911"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.msdk.notice.AlertMsgActivity" android:screenOrientation="sensor" android:theme="@style/NoticeAlertTheme"/>
        <service android:name="com.tencent.msdk.notice.RollFloatService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:hardwareAccelerated="true" android:name="com.tencent.msdk.webview.X5WebViewActivity" android:screenOrientation="sensor" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:windowSoftInputMode="adjustPan">
            <meta-data android:name="android.max_aspect" android:value="2.2"/>
            <meta-data android:name="notch.config" android:value="portrait|landscape"/>
            <meta-data android:name="android.notch_support" android:value="true"/>
            <intent-filter>
                <action android:name="com.tencent.msdk.webview.X5WebViewActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.msdk.webview.JumpShareActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="locale|keyboardHidden|navigation|orientation|screenSize|fontScale" android:hardwareAccelerated="true" android:name="com.tencent.msdk.webview.WebViewActivity" android:process=":msdk_inner_webview" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="adjustPan">
            <meta-data android:name="titlebar_hideable" android:value="false"/>
            <meta-data android:name="toolbar_portrait_hideable" android:value="false"/>
            <meta-data android:name="toolbar_landscape_hideable" android:value="false"/>
        </activity>
        <service android:exported="false" android:name="com.tencent.tmassistantsdk.downloadservice.TMAssistantDownloadSDKService" android:process=":TMAssistantDownloadSDKService"/>
        <service android:exported="false" android:name="com.tencent.tmdownloader.TMAssistantDownloadService" android:process=":TMAssistantDownloadSDKService"/>
        <receiver android:exported="false" android:name="com.tencent.qqgamemi.QmiPluginTreeReceiver">
            <intent-filter>
                <action android:name="com.tencent.component.plugin.receiver"/>
                <action android:name="com.tencent.component.plugin.alarm"/>
                <action android:name="com.tencent.component.plugin.notification"/>
            </intent-filter>
        </receiver>
        <receiver android:label="NetworkConnection" android:name="com.tencent.msdk.dns.HttpDnsCache$ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.tencent.android.tpush.XGPushActivity" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action"/>
            </intent-filter>
        </activity>
        <receiver android:name="com.tencent.android.tpush.XGPushReceiver" android:process=":xg_service_v3">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="com.tencent.android.tpush.action.SDK"/>
                <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.tencent.android.tpush.service.XGPushServiceV3" android:persistent="true" android:process=":xg_service_v3"/>
        <service android:exported="true" android:name="com.tencent.android.tpush.rpc.XGRemoteService">
            <intent-filter>
                <action android:name="com.tencent.tmgp.sgamece.PUSH_ACTION"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.tencent.tmgp.sgameceg.AUTH_XGPUSH" android:exported="true" android:name="com.tencent.android.tpush.XGPushProvider"/>
        <provider android:authorities="com.tencent.tmgp.sgameceg.TPUSH_PROVIDER" android:exported="false" android:name="com.tencent.android.tpush.SettingsContentProvider"/>
        <provider android:authorities="com.tencent.tmgp.sgameceg.TENCENT.MID.V3" android:exported="true" android:name="com.tencent.mid.api.MidProvider"/>
        <meta-data android:name="XG_V2_ACCESS_ID" android:value="2100117751"/>
        <meta-data android:name="XG_V2_ACCESS_KEY" android:value="AD3PI8D71U1P"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.component.plugin.PluginShellActivity" android:screenOrientation="landscape" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.ui.CheckPermissionDialogActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" android:windowSoftInputMode="adjustPan"/>
        <service android:exported="false" android:name="com.tencent.component.plugin.server.PluginService"/>
        <service android:exported="false" android:name="com.tencent.qqgamemi.QMiService"/>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.tencent.pandora.imagepicker.UnityProxyActivity">
            <intent-filter>
                <action android:name="androidnativeactions.UnityProxyActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.midas.proxyactivity.APMidasPayProxyActivity" android:process=":midasPay" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:exported="true" android:name="com.tencent.midas.wx.APMidasWXPayActivity" android:process=":midasPay" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="true" android:launchMode="singleTop" android:name="com.tencent.midas.qq.APMidasQQWalletActivity" android:process=":midasPay" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="qwallet100703379"/>
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.midas.jsbridge.APWebJSBridgeActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="oicq.wlogin_sdk.quicklogin.QuickLoginWebViewActivity"/>
        <receiver android:label="NetworkConnection" android:name="com.tencent.special.httpdns.Cache$ConnectReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <activity android:launchMode="singleTask" android:name="com.tencent.msdk.SchemeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencentmsdk1104466820"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.tencent.tmgp.sgamece.SGameActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="smoba"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="smobace1104791911"/>
            </intent-filter>
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true"/>
        </activity>
        <activity android:label="@string/apolloqr_scan_label" android:name="com.tencent.apollo.qr.zxing.CaptureActivity" android:screenOrientation="sensorLandscape"/>
        <meta-data android:name="android.vendor.full_screen" android:value="true"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <meta-data android:name="notch.config" android:value="portrait|landscape"/>
        <meta-data android:name="GCloud.TDM.AppId" android:value="@string/tdm_AppId"/>
        <meta-data android:name="GCloud.TDM.AppChannel" android:value="@string/tdm_AppChannel"/>
        <meta-data android:name="GCloud.TDM.Protocol" android:value="@string/tdm_Protocol"/>
        <meta-data android:name="IsNoBundle" android:value="1"/>
        <service android:name="com.tencent.kgvmp.socket.VmpService"/>
        <meta-data android:name="IsMTRForceOpen" android:value="0"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:exported="false" android:launchMode="singleTop" android:name="com.google.ar.core.InstallActivity" android:theme="@android:style/Theme.Material.Light.Dialog.Alert"/>
        <meta-data android:name="com.google.ar.core.min_apk_version" android:value="180626000"/>
        <meta-data android:name="com.google.ar.core" android:value="required"/>
    </application>
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
    <uses-feature android:glEsVersion="0x20000"/>
    <uses-feature android:name="android.hardware.vulkan" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false"/>
</manifest>
