<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="com.hero_full">
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INJECT_EVENTS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:resizeable="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:icon="@drawable/icon" android:label="别惹恶魔" android:resizeableActivity="true" android:usesCleartextTraffic="true">
        <meta-data android:name="android.max_aspect" android:value="2.4"/>
        <meta-data android:name="android.notch_support" android:value="true"/>
        <meta-data android:name="JUZI_APPID" android:value="4f348a5f-d7fc-4110-b23c-32717250b239"/>
        <meta-data android:name="MARKET_ID" android:value="gfan"/>
        <activity android:name="com.juzi.main.TheAdVirtualGoods" android:screenOrientation="landscape"/>
        <activity android:name="com.juzi.main.DownLing" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.juzi.main.WebActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="true" android:label="别惹恶魔" android:launchMode="singleTask" android:name=".GameMidlet" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="billing.BillingService"/>
        <receiver android:exported="true" android:name="billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.tapjoy.TJCOffersWebView"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.tapjoy.TapjoyFeaturedAppWebView"/>
        <receiver android:exported="true" android:name="com.tapjoy.TapjoyReferralTracker">
            <intent-filter android:label="com.android.vending.INSTALL_REFERRER"/>
        </receiver>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>
