##record_config.cfg录屏配置

# EngineType:
- Unity:1
- Cocos2d:2
EngineType=1

# DefaultVideoTitle: 默认视频标题
ManualDefaultVideoTitle=我的王者，荣耀无限，不可阻挡
MomentDefaultVideoTitle=【王者荣耀】我的专属荣耀！
SgameArDefaultVideoTitle=【王者荣耀】来看看我和英雄的AR合影吧

# AppliactionName: 应用名
AppliactionName=王者荣耀

# SupportedRecordingMode: 视频列表tab标题
- Manual
- Moments
Manual=自由录制
Moments=王者时刻
Jugement=审判之剑

# DefaultManualRecorderPosition: 默认自由录制位置
-x = 0~1
-y = 0~1
x=0
y=0

# VideoListWXShareChannels :视频管理列表微信分享渠道（以英文逗号隔开）可选值如下：
-TYPE_WX = 3
-TYPE_WXFC = 4
-TYPE_WXGC = 5
-TYPE_COPY_LINK = 6
VideoListWXShareChannels = 3, 4, 5

# VideoListQQShareChannels :视频管理列表QQ分享渠道（以英文逗号隔开）可选值如下：
-TYPE_QQ = 0
-TYPE_QZ = 1
-TYPE_QQGC = 2
-TYPE_COPY_LINK = 6
-TYPE_QQSHOW = 7
VideoListQQShareChannels = 1, 0, 2, 7

# MomentWXShareChannels :时刻录制生成窗口微信分享渠道（以英文逗号隔开）可选值如下
-TYPE_WX = 3
-TYPE_WXFC = 4
-TYPE_WXGC = 5
-TYPE_COPY_LINK = 6
MomentWXShareChannels = 3, 4, 5


# MomentQQShareChannels :时刻录制生成窗口QQ分享渠道（以英文逗号隔开）可选值如下：
-TYPE_QQ = 0
-TYPE_QZ = 1
-TYPE_QQGC = 2
-TYPE_COPY_LINK = 6
-TYPE_QQSHOW = 7
MomentQQShareChannels = 1, 0, 2, 7

# SgameArWXShareChannels :王者AR录制生成窗口微信分享渠道（以英文逗号隔开）可选值如下
-TYPE_WX = 3
-TYPE_WXFC = 4
-TYPE_WXGC = 5
-TYPE_COPY_LINK = 6
SgameArWXShareChannels = 3, 4, 5

# SgameArQQShareChannels :王者AR录制生成窗口QQ分享渠道（以英文逗号隔开）可选值如下：
-TYPE_QQ = 0
-TYPE_QZ = 1
-TYPE_QQGC = 2
-TYPE_COPY_LINK = 6
SgameArQQShareChannels = 1, 0, 2

# MomentShareViewOrientation: 时刻主流程视窗方向
-above = 0
-below = 1
#MomentShareViewOrientation=1


# WXMinAppUserName:小程序名称
WXMinAppUserName=gh_8301471a8c0c

