<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="com.identityv.shrek156" platformBuildVersionCode="23" platformBuildVersionName="6.0-2438415">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.identityv.shrek156_com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.identityv.shrek156_com.netease.unisdk.push.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.identityv.shrek156_com.netease.unisdk.push.permission.MIPUSH_RECEIVE"/>
    <application android:hasCode="true" android:icon="@drawable/ic_launcher" android:label="第五人格（测试版）" android:name="com.netease.ntunisdk.application.NtSdkApplication" android:roundIcon="@drawable/ic_launcher_round">
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:name="com.netease.dwrg.Launcher" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:label="第五人格（测试版）" android:name="com.netease.dwrg.Client" android:screenOrientation="sensorLandscape" android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <meta-data android:name="android.app.lib_name" android:value="client"/>
            <meta-data android:name="android.max_aspect" android:value="2.1"/>
            <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.netease.dwrg.WelcomeView" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:name="com.netease.dwrg.VideoPlayer" android:screenOrientation="behind" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <receiver android:name="com.netease.dwrg.PushNotificationReceiver">
            <intent-filter>
                <action android:name="com.netease.push.action.client.MESSAGE"/>
                <action android:name="com.netease.push.action.client.NEWID"/>
                <action android:name="com.netease.push.action.client.METHOD"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.netease.dwrg.AlarmReceiver"/>
        <service android:name="com.netease.cloud.nos.android.service.MonitorService"/>
        <receiver android:label="第五人格（测试版）" android:name="com.netease.cloud.nos.android.receiver.ConnectionChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.identityv.shrek156.gmbridge.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.netease.unisdk.gmbridge.provider.GmFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/gm_provider_paths"/>
        </provider>
        <receiver android:name="com.netease.pushservice.PushServiceReceiver" android:process=":PushService">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.netease.push.action.service.METHOD"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="true" android:label="PushService" android:name="com.netease.pushservice.PushService" android:process=":PushService">
            <intent-filter>
                <action android:name="com.netease.push.action.service.PUSHSERVICE2"/>
            </intent-filter>
        </service>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity android:configChanges="orientation|screenSize" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.netease.ntunisdk.base.deeplink.UniDeepLinkActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="game.163.com" android:pathPrefix="/open/dwrg/"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="game.mobile" android:pathPrefix="/dwrg" android:scheme="ntes"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:host="game.mobile" android:pathPrefix="/h55." android:scheme="ntes"/>
            </intent-filter>
        </activity>
        <meta-data android:name="netease_mpay_remove_permission_list" android:value=""/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:name="com.netease.ntunisdk.base.StartupActivity" android:screenOrientation="landscape" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="com.netease.mpay.MpayLoginActivity" android:screenOrientation="behind" android:theme="@style/NeteaseMpay.Login.AppTheme" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="com.netease.mpay.MpayLoginActionBarActivity" android:screenOrientation="behind" android:theme="@style/NeteaseMpay.Login.Register.AppTheme" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="locale|keyboardHidden|orientation|screenSize" android:name="com.netease.mpay.MpayActivity" android:screenOrientation="behind" android:theme="@style/NeteaseMpay.AppTheme" android:windowSoftInputMode="adjustResize"/>
        <service android:name="com.netease.mpay.widget.AlerterWindowService"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation|screenSize" android:exported="false" android:name="com.alipay.sdk.app.H5PayActivity" android:screenOrientation="behind" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:configChanges="keyboardHidden|navigation|orientation" android:exported="false" android:name="com.alipay.sdk.app.H5AuthActivity" android:screenOrientation="behind" android:windowSoftInputMode="stateHidden|adjustResize"/>
        <service android:name="com.netease.mcount.MCountService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tencent.connect.common.AssistActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" android:windowSoftInputMode="adjustResize"/>
        <meta-data android:name="com.netease.mpay.support.EnterGame" android:value="true"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:name="com.netease.mpay.EnterGameActivity" android:screenOrientation="landscape" android:theme="@style/NeteaseMpay.Login.Register.AppTheme"/>
        <activity android:configChanges="keyboardHidden|orientation" android:exported="false" android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.netease.dwrg.wbapi.WBShareActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.netease.dwrg.wxapi.WXEntryActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.netease.dwrg.yxapi.YXEntryActivity"/>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="tencentwx76a44a85c67ed891"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.tencent.connect.common.AssistActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.register.RegisterActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.netease.epay.sdk.base.ui.ServeCompactActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_Light_NoTitleBar_Activity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.card.ui.AddCardActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.card.ui.ValidateCardActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.netease.epay.sdk.pay.ui.PayingActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.netease.epay.sdk.pay.ui.WebActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.pay.ui.OrderInfoActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_commonActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.pay.ui.card.CardPayActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.pay.ui.CreditPayActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.psw.setpwd.SetPwdActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_commonActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.psw.modifypwd.ModifyPwdActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_commonActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.psw.verifypwd.VerifyPwdActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.psw.setpwd.SetPwdFragmentActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.psw.longpwd.VerifyLongPwdActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.risk.ui.RiskActivity" android:screenOrientation="behind" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="com.netease.epay.sdk.rsa.ui.ManageRSAActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_commonActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.rsa.ui.IdentityVerificationActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_commonActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.rsa.ui.SMSVerificationActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_commonActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.netease.epay.sdk.rsa.ui.ChooseVerificationActivity" android:screenOrientation="portrait" android:theme="@style/epaysdk_commonActivity"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
</manifest>
